main{
    font-size: 15px;
    border: 2px solid white ;
    font-style: italic;
    text-align: right;
    color: white;
    background-color: saddlebrown;
      
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 38px;
    color: white;
    background-color: black;
}
inside{
    float: left;
}
.imagem{
    float: left;
    width: 600px;
    height: 600px;
}
body{
    background-color: saddlebrown;
}
article{
    border: solid 2px white;
}
.cadeado{
    width: 38px;
    right: 38px;
    
}